@import 'config';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

* :focus {
  outline: none;
}

.ReactVirtualized {
  &__Collection {
    &__innerScrollContainer {
    }
  }

  &__Grid {
    &__innerScrollContainer {
      margin-bottom: $spacer;
    }
  }

  &__Table {
    &__Grid {
    }

    &__headerRow {
      border-top: $table-border-width solid $table-border-color;
      border-bottom: (2 * $table-border-width) solid $table-border-color;
      font-weight: 700;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }

    &__row {
      border-bottom: $table-border-width solid $table-border-color;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      &:last-of-type {
        border: none;
      }

      &.hover {
        @include hover {
          color: $table-hover-color;
          background-color: $table-hover-bg;
        }
      }
    }

    &__headerTruncatedText {
      display: block;
      max-width: 100%;
      white-space: nowrap;
      text-align: center;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &__headerColumn,
    &__rowColumn {
      padding: 0 $table-cell-padding;
      min-width: 0px;
    }

    &__rowColumn {
      text-overflow: ellipsis;
    }

    &__sortableHeaderColumn {
      cursor: pointer;
    }

    &__sortableHeaderIconContainer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }

    &__sortableHeaderIcon {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
      flex: 0 0 24px;
      height: 1em;
      width: 1em;
      fill: currentColor;
    }
  }

  &__List {
  }
}
